{% set route_name = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Applicant Tracking System</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('public/_vendor/bootstrap/css/bootstrap-reboot.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/_vendor/bootstrap/css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ asset('public/_vendor/notiflix/css/notiflix-3.2.2.min.css') }}">

        <link rel="stylesheet" href="{{ asset('public/css/global.css') }}">

        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>

        <nav class="navbar">

            {% if is_granted('ROLE_USER') %}
            {% else %}
                <div class="navbar-right">
                    <a href="{% if route_name == 'app_home' %}#{% else %}{{ path('app_home') }}{% endif %}"><img src="{{ asset('public/img/logo.svg') }}" alt="ProfQ Logo" height="38"></a>
                </div>
                <div class="navbar-left">
                    <a href="{{ path('app_register') }}" class="pill-button">Register</a>
                    <a href="{{ path('app_login') }}" class="pill-button">Log in</a>
                </div>
            {% endif %}
        </nav>

        {% block body %}
        <div class="container" style="margin-top: 50px">
            {% block container %}
            {% endblock %}
        </div>
        {% endblock %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>

        <script src="{{ asset('public/_vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('public/_vendor/jquery/jquery-3.6.0.min.js') }}"></script>

        <script src="{{ asset('public/_vendor/notiflix/js/notiflix-notify-aio-3.2.2.min.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
